<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings/>
  <connectionStrings/>
    <system.web>
      <!--this needs to be set to true while debugging or dll will not load-->
        <compilation debug="true" targetFramework="4.0" />
      <!--needs to know what it is authenthicating to-->
      <authentication mode="Windows"/>
      <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"></pages>
    </system.web>

</configuration>
